<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="WebLogAsync" xsi:type="AsyncWrapper">
      <target name="WebLog" xsi:type="File" fileName="logs\Web.log"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadid}] - [${level}] ${message}"/>
    </target>
    <target name="MainScraperAsync" xsi:type="AsyncWrapper">
      <target name="MainScraperLog" xsi:type="File" fileName="logs\MainScraper.log"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${threadid}] - [${level}] ${message}"/>
    </target>
  </targets>

  <rules>
    <logger name="MetacriticScraper.Web.WebUtils" minlevel="Debug" writeTo="WebLogAsync" final="true" />
    <logger name="MetacriticScraper.Scraper.*" minlevel="Debug" writeTo="MainScraperAsync" final="true" />
    <logger name="MetacriticScraper.RequestData.*" minlevel="Debug" writeTo="MainScraperAsync" final="true" />
  </rules>
</nlog>